$regular-weight: 400;
$medium-weight: 600;
$bold-weight: 700;

$font-size-mobile: 1rem;
$font-size-desktop: 1.2rem;

$tiny-font: 1/2;
$small-font: 4/5;
$regular-font: 1;
$medium-font: 6/5;
$big-font: 3/2;
