$space: 4px;
$sizing: 5px;

$padding-mobile: $space * 5;
$padding-tablet: $space * 8;
$padding-desktop: $space * 11;

$margin-mobile: $space * 5;
$margin-tablet: $space * 8;
$margin-desktop: $space * 11;

$tiny: 1/4;
$small: 1/2;
$regular: 1;
$medium: 3/2;
$big: 2;

$border-width: 2px;
$border-width-fat: 3px;
