$regular-transition-duration: 1s;
$quarter-transition-duration: $regular-transition-duration / 4;
$half-transition-duration: $regular-transition-duration / 2;
$double-transition-duration: $regular-transition-duration * 2;
