@import "@/styles/mixins/_breakpoints.scss";
@import "@/styles/variables/_transitions.scss";

@mixin fade($duration: $regular-transition-duration) {
  .fade {
    &-enter-from,
    &-leave-to {
      opacity: 0;
    }

    &-enter-active,
    &-leave-active {
      transition: opacity $duration;
    }
  }
}

@mixin fade-delay-enter($duration: $regular-transition-duration, $delay: $regular-transition-duration) {
  .fade-delay-enter {
    &-enter-from,
    &-leave-to {
      opacity: 0;
    }

    &-enter-active {
      transition: opacity $duration $delay;
    }

    &-leave-active {
      transition: opacity $duration;
    }
  }
}

@mixin fade-slide($duration: $regular-transition-duration) {
  .fade-slide {
    &-enter-from {
      opacity: 0;
      transform: translateX(25%);
    }

    &-leave-to {
      opacity: 0;
      transform: translateX(-25%);
    }

    &-enter-active,
    &-leave-active {
      transition: all $duration;
    }
  }
}

@mixin reveal($duration: $regular-transition-duration) {
  .reveal {
    &-enter-from,
    &-leave-to {
      opacity: 0;

      @include mobile() {
        height: 0! important;
      }

      @include tablet() {
        width: 0 !important;
      }
    }

    &-leave-from {
      opacity: 0;
    }

    &-enter-active,
    &-leave-active {
      transition: all $duration;
    }
  }
}
